*{
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
    margin-left: 2rem;
    margin-top: 1rem;
    text-decoration: underline;
    color: rgb(128, 48, 64);
}

.from-to{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-left: 1rem; */
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}
.from-to .from , .from-to .to{
    border: 4px solid black;
    padding: 1rem;
    border-radius: 1.5rem;
    font-weight: 600;
}

.from-to .from{
    background-color: rgb(117, 235, 117);
}
.from-to .to{
    background-color: rgb(235, 111, 111);
}

.arrow{
    justify-self: center;
    text-align: center;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.edit-area{
    width: 30%;
    margin-left: 2rem;
    margin-top: 3rem;
}
.edit-area textarea{
    font-family: "Asap Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-left: 2rem;
    padding: 1rem;
    border: 3px solid black;
}

button{
    font-family: "Asap Condensed", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-left: 5rem;
    padding: 1rem;
    border: 4px solid black;
    background-color: rgb(235, 147, 164);
}